body{
    background-color: black;
    background-image: url(imm.jpg);
    
}
.b1{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    color: aliceblue;
    text-align: center;
    opacity: 0.3;
}

.int{
    font-size: 5em;
    
}
.b2{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    color: aliceblue;
    text-align: center;
    opacity: 0.3;
}
.row{
    display: flex;
    flex-direction: row;
}
.bot{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 60em;
    height: 30em;
    color: aliceblue;
    opacity: 0.3;
    

}
.main{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 70em;
    height:60em;
    color: aliceblue;
    opacity: 0.3;
}

.adjust{
    display: flex;
    flex-direction: row;
    
}

.nav{
   padding: 2em;
    display: inline;
}

.navbar{
     text-align: center;
     background-color: antiquewhite;
}
.nav:hover{
    color: blue;
}

.wel{
    height: 300px;
    width: 645px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.new{
    color: aliceblue;
    width: 118em;
    height: 40em;
    background-color: #442063;
    border-radius: 1em;
    opacity: 0.3;
    text-align: center;


}

@media(max-width:600px){}
