body{
    background-color: black;
    background-image: url(imm.jpg);
    
}
.b1{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    color: aliceblue;
    text-align: center;
    opacity: 0.3;
}

.int{
    font-size: 5em;
    
}
.b2{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 30em;
    height: 30em;
    color: aliceblue;
    text-align: center;
    opacity: 0.3;
}
.row{
    display: flex;
    flex-direction: row;
}
.bot{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 60em;
    height: 30em;
    color: aliceblue;
    opacity: 0.3;
    

}
.main{
    background-color: #3b1f5d;
    border-radius: 1em;
    width: 70em;
    height:60em;
    color: aliceblue;
    opacity: 0.3;
    justify-content: center;
    align-items: center;
}

.adjust{
    display: flex;
    flex-direction: row;
    width: 130;
    
}

.nav{
   padding: 2em;
    display: inline;
}

.navbar{
     text-align: center;
     background-color: antiquewhite;
}
.nav:hover{
    color: blue;
}

.wel{
    height: 300px;
    width: 645px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.new{
    color: aliceblue;
    width: 130em;
    height: 40em;
    background-color: #442063;
    border-radius: 1em;
    opacity: 0.3;
    text-align: center;


}

.row{
    display: flex;
 
}


.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
